@import '../../variables.scss';

.main {
    display: grid;
    grid-gap: $base * 5;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}